In [19]:
import findspark
findspark.init()

In [20]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [21]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [22]:
df_green.registerTempTable('green')

In [23]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [17]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-28 19:00:00| 134|193.61000000000007|            17|
|2020-01-22 19:00:00|  65| 657.0300000000001|            41|
|2020-01-27 08:00:00|  17|             85.56|             4|
|2020-01-02 09:00:00|  66|229.39999999999998|            12|
|2020-01-02 12:00:00|  89|310.28000000000003|            14|
|2020-01-07 12:00:00|  66|             179.5|             9|
|2020-01-03 08:00:00| 223|165.90000000000003|             9|
|2020-01-17 10:00:00|  41| 638.2699999999999|            49|
|2020-01-02 11:00:00|  26|             198.6|             7|
|2020-01-12 20:00:00| 247|36.900000000000006|             3|
|2020-01-12 15:00:00|  10|             75.92|             1|
|2020-01-24 04:00:00| 129|148.89000000000001|            13|
|2020-01-04 20:00:00|  25| 369.5700000000001|            23|
|2020-01-22 10:00:00|  74|1179.0599999999988|            83|
|2020-01-13 18:00:00|  92|207.02000000000004|            11|
|2020-01-19 11:00:00| 218|            181.16|             5|
|2020-01-26 12:00:00|  35|257.03000000000003|             8|
|2020-01-30 06:00:00|  75|            282.63|            19|
|2020-01-04 22:00:00|  83|            298.16|            15|
|2020-01-06 21:00:00| 129|288.02000000000004|            14|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [18]:
df_green_revenue.write.parquet('data/report/revenue/green', mode='overwrite')

In [26]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [24]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [25]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [11]:
df_yellow_revenue.write.parquet('data/report/revenue/yellow', mode='overwrite')

In [27]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [46]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [27]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [28]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [29]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   3|              null|                null|              25.0|                    1|
|2020-01-01 00:00:00|   4|              null|                null|1004.3000000000002|                   57|
|2020-01-01 00:00:00|   7| 769.7299999999996|                  45| 455.1700000000001|                   38|
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|
|2020-01-01 00:00:00|  37|            175.67|                   6|161.60999999999999|                    7|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5|
|2020-01-01 00:00:00|  45|              null|                null| 732.4800000000002|                   42|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|  68|              null|                null| 7825.070000000012|                  396|
|2020-01-01 00:00:00|  73|              null|                null|              17.3|                    1|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|             371.4|                   20|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000002|                   36|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2|
|2020-01-01 00:00:00|  94| 64.24000000000001|                   3|              13.3|                    1|
|2020-01-01 00:00:00|  95|202.20000000000002|                  15|               6.3|                    1|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [30]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [51]:
df_join = spark.read.parquet('data/report/revenue/total')

In [56]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [31]:
#joining on small table
df_zones = spark.read.parquet('zones/')

In [32]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [33]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [35]:
df_result.drop('LocationID').show()   #removes locationID column from output

+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|   3|              null|                null|              25.0|                    1|    Bronx|Allerton/Pelham G...|   Boro Zone|
|2020-01-01 00:00:00|   4|              null|                null|1004.3000000000002|                   57|Manhattan|       Alphabet City| Yellow Zone|
|2020-01-01 00:00:00|   7| 769.7299999999996|                  45| 455.1700000000001|                   38|   Queens|             Astoria|   Boro Zone|
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|Manhattan|        Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  37|            175.67|                   6|161.60999999999999|                    7| Brooklyn|      Bushwick South|   Boro Zone|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  45|              null|                null| 732.4800000000002|                   42|Manhattan|           Chinatown| Yellow Zone|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|    Bronx|  Claremont/Bathgate|   Boro Zone|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|    Bronx|          Co-Op City|   Boro Zone|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1| Brooklyn| Crown Heights South|   Boro Zone|
|2020-01-01 00:00:00|  68|              null|                null| 7825.070000000012|                  396|Manhattan|        East Chelsea| Yellow Zone|
|2020-01-01 00:00:00|  73|              null|                null|              17.3|                    1|   Queens|       East Flushing|   Boro Zone|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|Manhattan|   East Harlem North|   Boro Zone|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3| Brooklyn|East New York/Pen...|   Boro Zone|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|             371.4|                   20| Brooklyn|   East Williamsburg|   Boro Zone|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|   Queens|    Elmhurst/Maspeth|   Boro Zone|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000002|                   36|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2| Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|2020-01-01 00:00:00|  94| 64.24000000000001|                   3|              13.3|                    1|    Bronx|       Fordham South|   Boro Zone|
|2020-01-01 00:00:00|  95|202.20000000000002|                  15|               6.3|                    1|   Queens|        Forest Hills|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
only showing top 20 rows

In [34]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|   3|              null|                null|              25.0|                    1|         3|    Bronx|Allerton/Pelham G...|   Boro Zone|
|2020-01-01 00:00:00|   4|              null|                null|1004.3000000000002|                   57|         4|Manhattan|       Alphabet City| Yellow Zone|
|2020-01-01 00:00:00|   7| 769.7299999999996|                  45| 455.1700000000001|                   38|         7|   Queens|             Astoria|   Boro Zone|
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|        12|Manhattan|        Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  37|            175.67|                   6|161.60999999999999|                    7|        37| Brooklyn|      Bushwick South|   Boro Zone|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  45|              null|                null| 732.4800000000002|                   42|        45|Manhattan|           Chinatown| Yellow Zone|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|        51|    Bronx|          Co-Op City|   Boro Zone|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1|        62| Brooklyn| Crown Heights South|   Boro Zone|
|2020-01-01 00:00:00|  68|              null|                null| 7825.070000000012|                  396|        68|Manhattan|        East Chelsea| Yellow Zone|
|2020-01-01 00:00:00|  73|              null|                null|              17.3|                    1|        73|   Queens|       East Flushing|   Boro Zone|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|        74|Manhattan|   East Harlem North|   Boro Zone|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|        77| Brooklyn|East New York/Pen...|   Boro Zone|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|             371.4|                   20|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|        83|   Queens|    Elmhurst/Maspeth|   Boro Zone|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000002|                   36|        88|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2|        89| Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|2020-01-01 00:00:00|  94| 64.24000000000001|                   3|              13.3|                    1|        94|    Bronx|       Fordham South|   Boro Zone|
|2020-01-01 00:00:00|  95|202.20000000000002|                  15|               6.3|                    1|        95|   Queens|        Forest Hills|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [62]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')