In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/29 20:49:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.version

'3.3.2'

In [5]:
df = spark.read \
     .parquet('fhv/2019/10/')
#df.write.parquet('fhv/2019/10/')

In [6]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|
|              B02107|2019-10-05 08:04:34|2019-10-05 08:50:25|         264|         107|   null|                B02107|
|              B01626|2019-10-02 16:48:06|2019-10-02 16:59:34|         264|         130|   null|                B01626|
|              B01315|2019-10-06 13:44:49|2019-10-06 14:03:00|         264|         244|   null|                B01315|
|              B03015|2019-10-04 16:22:21|2019-10-04 16:27:39|         264|         197|   null|                B03015|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|
|     B01711         |2019-10-07 03:49:09|2019-10-07 04:07:48|         252|          92|   null|       B01711         |
|              B02293|2019-10-01 11:05:20|2019-10-01 12:49:00|         107|         168|   null|                B02293|
|              B01016|2019-10-08 20:53:14|2019-10-08 20:55:12|         264|          76|   null|                B01016|
|              B01509|2019-10-03 11:42:36|2019-10-03 12:07:04|         264|          89|   null|                B01509|
|              B00887|2019-10-02 09:38:26|2019-10-02 10:07:04|         264|         186|   null|                B00887|
|              B02803|2019-10-05 11:00:58|2019-10-05 11:02:28|          20|          78|   null|                B02803|
|              B00692|2019-10-04 06:10:12|2019-10-04 06:23:11|         264|          54|   null|                B00692|
|              B01639|2019-10-07 07:44:03|2019-10-07 07:48:57|         264|         167|   null|                B01639|
|     B01711         |2019-10-07 17:23:42|2019-10-07 17:42:07|         171|          73|   null|       B01711         |
|              B02849|2019-10-03 14:25:07|2019-10-03 14:34:05|         264|         113|   null|                B02849|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [8]:
from pyspark.sql import functions as F

In [18]:
#62610
df.filter(F.to_date(df.pickup_datetime) == '2019-10-15').count()

62610

In [20]:
 #62610
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [24]:
df = df.withColumn('pickup_date', F.to_date(df.pickup_datetime))

In [25]:
df.registerTempTable('df_tab')

In [26]:
#62610
spark.sql("""
SELECT
    count(1)
FROM
    df_tab
WHERE pickup_date = '2019-10-15'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [48]:
#631152
spark.sql("""
SELECT 
    pickup_datetime,
    MAX(DATEDIFF(hour, pickup_datetime, dropoff_datetime)) AS duration
FROM
    df_tab
GROUP BY
    1
ORDER BY 
    2 DESC
""").show()

+-------------------+--------+
|    pickup_datetime|duration|
+-------------------+--------+
|2019-10-28 09:00:00|  631152|
|2019-10-11 18:00:00|  631152|
|2019-10-31 23:46:33|   87672|
|2019-10-01 21:43:42|   70128|
|2019-10-17 14:00:00|    8794|
|2019-10-26 21:26:00|    8784|
|2019-10-30 12:30:04|    1464|
|2019-10-25 07:04:57|    1056|
|2019-10-01 13:41:00|     793|
|2019-10-01 07:21:12|     793|
|2019-10-01 13:47:17|     793|
|2019-10-01 15:17:59|     792|
|2019-10-01 05:06:43|     792|
|2019-10-01 09:15:55|     792|
|2019-10-01 14:24:33|     792|
|2019-10-01 18:24:05|     792|
|2019-10-01 12:20:37|     792|
|2019-10-01 11:49:27|     792|
|2019-10-01 13:47:33|     792|
|2019-10-01 09:43:47|     792|
+-------------------+--------+
only showing top 20 rows

In [38]:
spark.sql("""
SELECT 
    to_date(pickup_datetime) AS pickup_date,
    max(DATEDIFF(hour, pickup_datetime, dropoff_datetime)) AS duration
FROM
    df_tab
GROUP BY 
    1
order by 
    2 DESC
LIMIT 10
""").show()

+-----------+--------+
|pickup_date|duration|
+-----------+--------+
| 2019-10-28|  631152|
| 2019-10-11|  631152|
| 2019-10-31|   87672|
| 2019-10-01|   70128|
| 2019-10-17|    8794|
| 2019-10-26|    8784|
| 2019-10-30|    1464|
| 2019-10-25|    1056|
| 2019-10-02|     769|
| 2019-10-03|     745|
+-----------+--------+

In [32]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60) AS duration
FROM 
    df_tab
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+-----------------+
|pickup_date|         duration|
+-----------+-----------------+
| 2019-10-28|       3.786915E7|
| 2019-10-11|       3.786915E7|
| 2019-10-31|       5260346.45|
| 2019-10-01|4207681.683333334|
| 2019-10-17|         527640.0|
| 2019-10-26|         527050.0|
| 2019-10-30|87872.06666666667|
| 2019-10-25|          63409.6|
| 2019-10-02|46153.88333333333|
| 2019-10-23|          44737.0|
+-----------+-----------------+

In [50]:
df_zone = spark.read \
     .parquet('zones')

In [62]:
df_zone.limit(265)

DataFrame[LocationID: string, Borough: string, Zone: string, service_zone: string]

In [72]:
df.filter("PULocationID = 2").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|              B03160|2019-10-19 10:57:00|2019-10-19 12:02:00|           2|           2|   null|                B02682| 2019-10-19|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+

In [68]:
df_zone.filter("Zone like 'Jamaica%'").show()

+----------+-------+---------------+------------+
|LocationID|Borough|           Zone|service_zone|
+----------+-------+---------------+------------+
|         2| Queens|    Jamaica Bay|   Boro Zone|
|       130| Queens|        Jamaica|   Boro Zone|
|       131| Queens|Jamaica Estates|   Boro Zone|
+----------+-------+---------------+------------+

In [59]:
df_zone.count()

265

In [52]:
df_zone.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [53]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number',
 'pickup_date']

In [55]:
df_zone.registerTempTable('zones')

In [69]:
spark.sql("""
SELECT
    pul.Zone,
    COUNT(1)
FROM 
    df_tab fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
GROUP BY 
    1
ORDER BY
    2
LIMIT 200;
""").show(n=265)

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
|        Battery Park|      15|
|Saint Michaels Ce...|      23|
|Breezy Point/Fort...|      25|
|Marine Park/Floyd...|      26|
|        Astoria Park|      29|
|    Inwood Hill Park|      39|
|       Willets Point|      47|
|Forest Park/Highl...|      53|
|  Brooklyn Navy Yard|      57|
|        Crotona Park|      62|
|        Country Club|      77|
|     Freshkills Park|      89|
|       Prospect Park|      98|
|     Columbia Street|     105|
|  South Williamsburg|     110|
|         City Island|     111|
|         Marble Hill|     116|
|Stuy Town/Peter C...|     125|
|         Cobble Hill|     128|
|  DUMBO/Vinegar Hill|     142|
|     Randalls Island|     175|
|        Bloomingdale|     198|
|     Cambria Heights|     198|
|  Van Cortlandt Park|     202|
|     Carroll Gardens|     208|
|     Windsor Terrace|     212|
|             Gowanus|     220|
|                SoHo|     235|
|     Pelham Bay Park|     238|
|          Bronx Park|     264|
| Ocean Parkway South|     265|
|Williamsburg (Nor...|     273|
|       Rockaway Park|     275|
|       Alphabet City|     288|
|          Douglaston|     291|
|             Seaport|     293|
|           Laurelton|     295|
|          Pelham Bay|     297|
|              Hollis|     302|
|    Prospect Heights|     314|
|        Howard Beach|     316|
|          Ozone Park|     316|
|Flushing Meadows-...|     331|
|          Greenpoint|     335|
|Springfield Garde...|     348|
|            Rosedale|     354|
|   East Williamsburg|     388|
|            Red Hook|     389|
|          Kensington|     393|
|    Roosevelt Island|     394|
|      Queens Village|     401|
|      Yorkville East|     402|
|           Bellerose|     404|
|        West Village|     419|
|Springfield Garde...|     444|
|Williamsburg (Sou...|     449|
|Greenwich Village...|     472|
|             Erasmus|     475|
|       Fresh Meadows|     482|
|Riverdale/North R...|     483|
|     Manhattan Beach|     486|
|    Manhattan Valley|     490|
|     Oakland Gardens|     491|
|Arrochar/Fort Wad...|     525|
|Greenwich Village...|     539|
|        Clinton Hill|     555|
|Meatpacking/West ...|     567|
|Spuyten Duyvil/Ki...|     592|
| Lincoln Square West|     594|
|              Inwood|     596|
|Briarwood/Jamaica...|     627|
| Grymes Hill/Clifton|     632|
|Marine Park/Mill ...|     644|
|             Oakwood|     657|
|      Middle Village|     663|
| Morningside Heights|     664|
|       Fordham South|     666|
|     Lower East Side|     684|
|       Dyker Heights|     690|
|        Baisley Park|     690|
|     Jamaica Estates|     696|
|           Gravesend|     697|
|           Woodhaven|     709|
|      Manhattanville|     712|
|   Rossville/Woodrow|     719|
|           Glen Oaks|     719|
|       Cypress Hills|     723|
| Crown Heights South|     730|
|Washington Height...|     732|
|         Parkchester|     751|
|Two Bridges/Sewar...|     757|
|          Bath Beach|     760|
|       Starrett City|     775|
|    Hamilton Heights|     778|
|         Eastchester|     786|
|        Central Park|     786|
|        Saint Albans|     790|
|            Flatiron|     809|
|         Kew Gardens|     810|
|Van Cortlandt Vil...|     815|
|Westchester Villa...|     815|
|           Chinatown|     816|
|         Boerum Hill|     816|
|           Hudson Sq|     836|
|      Yorkville West|     840|
|    Brooklyn Heights|     847|
|New Dorp/Midland ...|     863|
|   Crotona Park East|     870|
|           Bronxdale|     871|
|East New York/Pen...|     871|
| Lincoln Square East|     894|
|Schuylerville/Edg...|     895|
|       Midtown South|     896|
|       South Jamaica|     901|
|   Kew Gardens Hills|     906|
|West Farms/Bronx ...|     913|
|        Clinton West|     920|
|      Bushwick North|     921|
|Downtown Brooklyn...|     925|
|             Maspeth|     938|
|            Longwood|     943|
|Allerton/Pelham G...|     962|
|             Madison|     973|
|          Park Slope|     976|
|         Fort Greene|     995|
|             Bedford|     996|
|Upper West Side N...|     999|
|      Central Harlem|    1014|
|Upper West Side S...|    1049|
|Heartland Village...|    1054|
|Long Island City/...|    1057|
|         Hunts Point|    1059|
|    Sunset Park West|    1067|
| Kingsbridge Heights|    1069|
|       Arden Heights|    1082|
|       Richmond Hill|    1083|
|             Belmont|    1091|
|        East Village|    1095|
|West Chelsea/Huds...|    1098|
|     Hammels/Arverne|    1099|
|           Flatlands|    1117|
|  Stuyvesant Heights|    1120|
|             Midwood|    1128|
|        Borough Park|    1130|
|  Soundview/Bruckner|    1132|
|          Ocean Hill|    1151|
|            Gramercy|    1153|
|            Glendale|    1213|
|      West Concourse|    1245|
|          Highbridge|    1246|
|      Bushwick South|    1249|
|East Flatbush/Far...|    1259|
| Little Italy/NoLiTa|    1277|
|           Homecrest|    1295|
|         Great Kills|    1310|
|         Westerleigh|    1317|
|        Coney Island|    1343|
|     Lenox Hill West|    1344|
|    Bensonhurst East|    1353|
|           Bay Ridge|    1358|
|        East Chelsea|    1381|
|       West Brighton|    1399|
|       College Point|    1410|
|      Sheepshead Bay|    1457|
|    South Ozone Park|    1460|
| UN/Turtle Bay South|    1463|
|South Beach/Donga...|    1486|
|          Auburndale|    1499|
|Financial Distric...|    1499|
|Eltingville/Annad...|    1513|
|         Brownsville|    1519|
|        Bedford Park|    1520|
|      Pelham Parkway|    1522|
|  Morrisania/Melrose|    1555|
|  World Trade Center|    1564|
|    Elmhurst/Maspeth|    1565|
|          Co-Op City|    1600|
|      Brighton Beach|    1609|
|Penn Station/Madi...|    1617|
|             Jamaica|    1625|
|Bloomfield/Emerso...|    1626|
|Long Island City/...|    1640|
|       Port Richmond|    1641|
|            Canarsie|    1664|
|Flatbush/Ditmas Park|    1690|
|           Rego Park|    1697|
|  Claremont/Bathgate|    1722|
|Central Harlem North|    1748|
|           Ridgewood|    1755|
|East Flatbush/Rem...|    1784|
|           Sunnyside|    1784|
|Upper East Side N...|    1822|
|University Height...|    1829|
|Williamsbridge/Ol...|    1834|
|    Bensonhurst West|    1880|
+--------------------+--------+

In [56]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM 
    df_tab fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|Flushing / Prospe...|       1|
|Stuyvesant Height...|       1|
|Co-Op City / Two ...|       1|
|Battery Park City...|       1|
|East Concourse/Co...|       1|
+--------------------+--------+

In [4]:
!ls -lh fhvhv_tripdata_2021-02.csv

-rw-rw-r-- 1 alexey alexey 700M Oct 29 18:53 fhvhv_tripdata_2021-02.csv

In [6]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [8]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-02.csv')

df = df.repartition(24)

df.write.parquet('data/pq/fhvhv/2021/02/', compression=)

In [16]:
df = spark.read.parquet('data/pq/fhvhv/2021/02/')

**Q3**: How many taxi trips were there on February 15?

In [18]:
from pyspark.sql import functions as F

In [24]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-02-15'") \
    .count()

367170

In [25]:
df.registerTempTable('fhvhv_2021_02')

In [28]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhvhv_2021_02
WHERE
    to_date(pickup_datetime) = '2021-02-15';
""").show()

+--------+
|count(1)|
+--------+
|  367170|
+--------+

**Q4**: Longest trip for each day

In [29]:
df.columns

['hvfhs_license_num',
 'dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag']

In [36]:
df \
    .withColumn('duration', df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-------------+
|pickup_date|max(duration)|
+-----------+-------------+
| 2021-02-11|        75540|
| 2021-02-17|        57221|
| 2021-02-20|        44039|
| 2021-02-03|        40653|
| 2021-02-19|        37577|
+-----------+-------------+

In [38]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60) AS duration
FROM 
    fhvhv_2021_02
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+-----------------+
|pickup_date|         duration|
+-----------+-----------------+
| 2021-02-11|           1259.0|
| 2021-02-17|953.6833333333333|
| 2021-02-20|733.9833333333333|
| 2021-02-03|           677.55|
| 2021-02-19|626.2833333333333|
| 2021-02-25|            583.5|
| 2021-02-18|576.8666666666667|
| 2021-02-10|569.4833333333333|
| 2021-02-21|           537.05|
| 2021-02-09|534.7833333333333|
+-----------+-----------------+

**Q5**: Most frequent `dispatching_base_num`

How many stages this spark job has?

In [44]:
spark.sql("""
SELECT
    dispatching_base_num,
    COUNT(1)
FROM 
    fhvhv_2021_02
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|dispatching_base_num|count(1)|
+--------------------+--------+
|              B02510| 3233664|
|              B02764|  965568|
|              B02872|  882689|
|              B02875|  685390|
|              B02765|  559768|
+--------------------+--------+

In [46]:
df \
    .groupBy('dispatching_base_num') \
        .count() \
    .orderBy('count', ascending=False) \
    .limit(5) \
    .show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
|              B02875| 685390|
|              B02765| 559768|
+--------------------+-------+

**Q6**: Most common locations pair

In [47]:
df_zones = spark.read.parquet('zones')

In [49]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [51]:
df.columns

['hvfhs_license_num',
 'dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag']

In [50]:
df_zones.registerTempTable('zones')

In [57]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM 
    fhvhv_2021_02 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|East New York / E...|   45041|
|Borough Park / Bo...|   37329|
| Canarsie / Canarsie|   28026|
|Crown Heights Nor...|   25976|
|Bay Ridge / Bay R...|   17934|
+--------------------+--------+