In [4]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/Haitham.hamad/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/green_tripdata_2019-09.csv',nrows=100)

In [12]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [15]:
pd.get_option("display.max_columns")

20

In [17]:
pd.set_option("display.max_columns",None)

In [16]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [21]:
df [['VendorID','passenger_count']]

    VendorID  passenger_count
0          2                5
1          2                5
2          2                5
3          2                1
4          2                1
..       ...              ...
95         2                1
96         2                1
97         2                1
98         2                1
99         2                1

[100 rows x 2 columns]

In [22]:
from sqlalchemy import create_engine

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
import psycopg2

In [27]:
engine.connect()

In [31]:
print(pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [3]:
filename = '/home/Haitham.hamad/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/green_tripdata_2019-09.csv'

In [8]:
df_iter = pd.read_csv(filename,iterator=True,chunksize=100000)

In [9]:
df = next (df_iter)

In [10]:
len(df)

100000

In [11]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
df.head(n=0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

0

In [23]:
%time df.to_sql(name='green_taxi_data',con=engine,if_exists='append')

CPU times: user 3.57 s, sys: 97.5 ms, total: 3.67 s
Wall time: 7.4 s

1000

In [25]:
from time import time

In [31]:
while True:
        t_start = time()
        df = next(df_iter)
        df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql('green_taxi_data', engine, if_exists='append')
        t_end = time()
        print('Insert another chunk, took %.3f' %(t_end-t_start))

StopIteration:

In [11]:
query = """select count(1) from green_taxi_data"""

In [13]:
query = """select max(lpep_pickup_datetime),min(lpep_pickup_datetime),max(total_amount) from green_taxi_data"""

In [14]:
pd.read_sql(query,con=engine)

                  max                 min     max
0 2020-03-07 09:24:23 2009-01-01 00:03:09  1762.8

In [7]:
query = """SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
      schemaname != 'information_schema';"""

In [8]:
pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_data,root,None,True,False,False,False

In [9]:
query = """select * from green_taxi_data LIMIT 10"""

In [10]:
pd.read_sql(query,con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,...,0.5,0.5,2.36,0.00,None,0.3,14.16,1,1,0.0
1,1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
2,2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
3,3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,...,0.5,0.5,1.50,0.00,None,0.3,10.30,1,1,0.0
4,4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1,1,0.0
5,5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,...,0.5,0.5,0.00,6.12,None,0.3,28.42,2,1,0.0
6,6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,...,0.5,0.5,3.86,0.00,None,0.3,23.16,1,1,0.0
7,7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,...,0.5,0.5,0.00,0.00,None,0.3,3.80,3,1,0.0
8,8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,...,0.0,0.5,0.00,0.00,None,0.3,23.00,1,1,0.0
9,9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,...,0.5,0.5,0.00,0.00,None,0.3,3.80,2,1,0.0

In [6]:
df_iter

In [17]:
df.lpep_pickup_datetime

0    2019-09-01 00:10:53
1    2019-09-01 00:31:22
2    2019-09-01 00:50:24
3    2019-09-01 00:27:06
4    2019-09-01 00:43:23
             ...
95   2019-09-01 00:40:55
96   2019-09-01 00:13:52
97   2019-09-01 00:37:24
98   2019-09-01 00:22:15
99   2019-09-01 00:11:53
Name: lpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [29]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)

In [30]:
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
print(pd.io.sql.get_schema(df,name='/home/Haitham.hamad/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/green_tripdata_2019-09.csv'))

CREATE TABLE "/home/Haitham.hamad/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/green_tripdata_2019-09.csv" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-26 21:55:13--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.102.110, 16.182.105.40, 52.217.129.216, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.102.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-26 21:55:13 (36.9 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [ ]:
import pandas as pd

In [8]:
filename='/home/Haitham.hamad/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/taxi+_zone_lookup.csv'

In [9]:
df_zone=pd.read_csv(filename)

In [10]:
df_zone.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [11]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [13]:
df_zone.to_sql('zones', engine, if_exists='replace')

265